<nav class="navbar navbar-expand navbar-dark bg-primary mb-3">
  <div class="container">
    <a class="navbar-brand"
       routerLink="/">Client Panel</a>
    <ul class="navbar-nav">
      <ng-container *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/clients"
             routerLinkActive="active">{{ loggedinUserEmail }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/settings"
             routerLinkActive="active">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout-btn"
             (click)="onLogout()">Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated && allowRegistration">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/register"
             routerLinkActive="active">Register</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>