<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <a class="navbar-brand h1 mb-0"
     routerLink="/">Client Panel</a>

  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <ng-container *ngIf="isAuthenticated">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/clients"
             routerLinkActive="active"
             (click)="isMenuCollapsed = true;">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/settings"
             routerLinkActive="active"
             (click)="isMenuCollapsed = true;">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link logout-btn"
             (click)="isMenuCollapsed = true; onLogout();">Logout</a>
        </li>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated && allowRegistration">
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/login"
             routerLinkActive="active"
             (click)="isMenuCollapsed = true;">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"
             routerLink="/register"
             routerLinkActive="active"
             (click)="isMenuCollapsed = true;">Register</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>