<!-- Display -->
<div class="d-flex align-items-start my-2">
  <h5 class="m-0">
    Balance: 
    <span *ngIf="(balanceValue || balanceValue === 0) &&
                  balanceValue >= 0; else notValid"
          [ngClass]="{
            'text-danger': balanceValue > 0,
            'text-success': balanceValue === 0
          }">{{ balanceValue | currency }}</span>
    <ng-template #notValid>
      --
    </ng-template>
  </h5>
  <a class="ml-1 text-info quick-edit"
     *ngIf="!showForm"
     (click)="showForm = !showForm">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
  </a>
</div>

<!-- Form -->
<form *ngIf="showForm"
      [formGroup]="form"
      (ngSubmit)="balanceUpdate.emit(balance.value); showForm = !showForm;">
  <div class="input-group mb-4 balance-edit-group">
      <input type="number"
             class="form-control form-control-sm"
             [class.is-invalid]="form.invalid"
             formControlName="balance">
      <div class="input-group-append">
        <button class="btn btn-sm btn-success"
                [style.cursor]="form.invalid ? 'not-allowed' : ''"
                [disabled]="form.invalid">Update</button>
      </div>
  </div>
</form>
