<ng-container [ngSwitch]="state">
  <p class="d-flex flex-column align-items-start">
    <ng-container *ngSwitchCase="'ClientList'">
        <a class="btn btn-sm btn-success"
           routerLink="add">
          Add new
        </a>
    </ng-container>
    
    <ng-container *ngSwitchCase="'ClientDetails'">
      <a class="btn btn-sm btn-dark mb-1"
         routerLink="edit">
        Edit
      </a>
      <button class="btn btn-sm btn-danger">
        Delete
      </button>
    </ng-container>
  </p>
</ng-container>


