<div class="row">
  <div class="col">
    <h2><i class="fa fa-users"></i> Clients</h2>
  </div>
  <div class="col">
    <h5 class="text-right text-secondary">Total owed: {{ totalOwed | currency }}</h5>
  </div>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Balance</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ getFullname(client) }}</td>
      <td>{{ client.email }}</td>
      <td>{{ client.balance | currency }}</td>
      <td>
        <a class="btn btn-sm btn-outline-info"
           [routerLink]="client.id">
          <i class="fa fa-arrow-circle-o-right"></i>
          Details
        </a>
      </td>
    </tr>
  </tbody>
</table>
